@font-face {
  font-family: "NOTO";
  src: url("resources/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "NOTO";
  src: url("resources/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.otf");
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "NOTO";
}

html{
  height: 100vh;
  overflow-x: hidden;
}

body{
  background-color: #161612;
  color: #fff;
}

.flex{display: flex;}
.col-flex{display: flex; flex-direction: column;}

.jcc{justify-content: center;}
.jcsb{justify-content: space-between;}
.jcfs{justify-content: flex-start;}
.jcfe{justify-content: flex-end;}

.aic{align-items: center;}
.aifs{align-items: flex-start;}
.aife{align-items: flex-end;}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn{
  padding: .5rem 1.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb700;
  color: #222;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* 본문 영역 */

body{
  height: 100vh;
  overflow: hidden;
}

.content > div{
  padding: 200px 0;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.title h1{
  line-height: 1;
  font-size: 2.5rem;
  text-shadow: 0 1px #fff;
}

.title .line{
  width: 100px;
  height: 4px;
  background-color: #ffb700;
  border-radius: 2px;
}

.title p{
  font-family: "Microsoft Phangspa";
}

/* 패럴렉스 */

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
}

.parallax{
  position: absolute;
  padding: 0;
}

/* 명소 */

.attraction{
  display: grid;
  grid-template-columns: 700px auto;
  gap: 1rem;
}

.attraction .img_box{
  width: 700px;
  height: 700px;
  padding: 30px;
  background-color: #1b1b18;
  border-radius: 5px;
}

.attraction .info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attraction .info img{
  border-radius: 5px;
}

.attraction .info .text_box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px;
  border-radius: 5px;
  background-color: #1b1b18;
}

.attraction .info .text_box .top span,
.attraction .info .text_box .top i{
  color: orange;
  margin-right: .2rem;
}

.attraction .info .text_box p{
  font-family: "Microsoft Phangspa";
  color: #d1d1d1;
  font-size: 1rem;
  line-height: 1.5;
}

.attraction .info .text_box hr{
  opacity: .2;
}

.parallax.attr:nth-of-type(1){
  width: 200px;
  height: 200px;
  top: 300px;
  left: 200px;
  background-image: url("resources/img/attraction/parallax2.jpg");
  background-size: cover;
  transform: translateZ(-2px) scale(1.5);
  border: 5px solid #ffb700;
  border-radius: 50%;
  opacity: .1;
  z-index: -1;
}

.parallax.attr:nth-of-type(2){
  width: 150px;
  height: 150px;
  top: 600px;
  right: -1450px;
  transform: translateZ(-8px) scale(2);
  background-image: url("resources/img/attraction/parallax1.jpg");
  background-size: cover;
  border: 5px solid #ffb700;
  border-radius: 50%;
  opacity: .1;
  z-index: -1;
}

/* 배너 */

.banner{
  width: 100%;
  height: 103px;
  position: relative;
  overflow: hidden;
}

.banner .container{
  position: absolute;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  animation: banner 6s infinite;
}

@keyframes banner {
  0%,	16.66% {left: 0;}
  19.99%,	36.65% {left: -20%;}
  39.98%,	56.64% {left: -40%;}
  59.97%,	76.63% {left: -60%;}
  79.96%,	96.62% {left: -80%;}
  100% {left: -100%;}
}

.banner .container .item{
  background-color: #fff;
}

.banner .container img{
  object-fit: scale-down;
  padding: 0 20px;
  transition: .2s;
}

.banner .container img:hover{
  transform: scale(.5);
}

.parallax.place{
  width: 500px;
  height: 500px;
  opacity: .1;
}

.parallax.place .container{
  width: 100%;
  height: 100%;
  position: relative;
}

.parallax.place .container div{
  width: 100%;
  height: 40px;
  background-color: #ffb700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

.parallax.place .container div:nth-child(2){
  transform: translate(-50%, -50%) rotate(90deg);
}

.parallax.place.type1{
  top: 1500px;
  left: 100px;
  transform: translateZ(-4px) scale(1.2) rotate(20deg);
}

.parallax.place.type2{
  top: 1600px;
  right: -400px;
  transform: translateZ(-2px) scale(.6) rotate(60deg);
}

/* 맛집 영역 */

.foodplace{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.foodplace .item{
  border-radius: 5px;
  overflow: hidden;
}

.foodplace .item img{
  height: 250px;
}

.foodplace .item .text_box{
  background-color: #1b1b18;
  padding: 40px;
  gap: 1.5rem;
  z-index: 10;
  position: relative;
}

.foodplace .item .text_box h1{
  line-height: 1;
}

.foodplace .item .text_box p{
  text-align: center;
  line-height: 1.5;
  font-family: "Microsoft Phangspa";
}

.foodplace .item .text_box i{
  position: absolute;
  bottom: -20px;
  right: -20px;
  font-size: 8rem;
  opacity: .03;
  z-index: -1;
  rotate: -25deg;
}