*{
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  box-sizing: border-box;
  word-break: keep-all;
}

.flex{display: flex;}
.col-flex{display: flex; flex-direction: column;}

.jcc{justify-content: center;}
.jcsb{justify-content: space-between;}
.jcfs{justify-content: flex-start;}
.jcfe{justify-content: flex-end;}

.aic{align-items: center;}
.aifs{align-items: flex-start;}
.aife{align-items: flex-end;}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn{
  display: inline-flex;
}